.custom-card {
  max-width: 672px;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 48px 32 px 56px 32px;
}

.custom-card i {
  font-size: 48px;
  color: #64748b;
}

.custom-warning-titles {
  gap: 2px;
}

.card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #1a2856;
}


.card-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  color: #64748b;
}

.list-certificate {
  max-width: 672px;
}
