@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.menu-certificado {
  max-width: 800px;
}

.btn-voltar {
  gap: 6px;
  cursor: pointer;
}

.btn-voltar p {
  font-weight: 600px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #64748b;
}

.btn-voltar i {
  font-weight: 600px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #64748b;
}

.certificado {
  margin-top: 32px;
  background-image: url('../../../../public/certificate/certificate_bg.png');
  width: 800px;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12x;
  position: relative;

}

.conteudo-certificado {
  position: relative;
  width: 720px;
  height: 470px;
  background-color: #fff;
  border-radius: 8x;
}

.conteudo-certificado p {
  margin: 0 !important;
}


.icone-medalha {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 12px
}

.info-certificado {
  margin: 64px 40px 48px 40px;
  gap: 20px;
}

.titulo-subtitulo-certificado h1 {
  text-align: center;
  font-weight: 900px;
  font-size: 24px;
  line-height: 160px;
  letter-spacing: 2.4px;
  color: #1a2856
}

.titulo-subtitulo-certificado p {
  font-weight: 400px;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  color: #121621
}

.nome-aluno {
  font-family: "Dancing Script";
  font-weight: 700px;
  font-size: 52px;
  line-height: 80px;
  letter-spacing: 0;
  text-align: center;
  color: #3b5ac2
}

.lista-atividade-group {
  width: 413.7px;
}

.lista-atividade-titulo {
  font-weight: 400px;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: #121621;
  margin-bottom: 8px;
}

.lista-atividade {
  font-weight: 400px;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: #121621;
}

.data-emissao {
  font-weight: 700px;
  font-size: 11.2px;
  line-height: 160%;
  letter-spacing: 0;
  color: #121621;
  text-align: center;

}

.img-assinatura {
  position: absolute;
  bottom: 24px;
  right: 40px;
  width: 64px;
  height: 64px;
}
